<template>
  <div class="d-flex align-items-center justify-content-between py-1">
    <pelengak />
    <app-faq v-if="hasFaq"></app-faq>

    <div class="controllers d-flex justify-content-center align-items-center">
      <app-dropdown
        v-if="hasQualities"
        theme="dark"
        has-divider
        class="badge badge-black badge-pill"
        justify-menu="center"
        size="sm"
        dropup
        :items="qualityItems"
        @item-click="onQualitySelect"
      >
        <div slot="activator" class="d-flex align-items-center text-white">
          <BIconGear font-scale="1.5" class="mr-2" />
          {{ parsedQuality }}
        </div>
      </app-dropdown>
      <div class="actions">
        <sound-slider v-if="hasSound" @change="onVolumeChange" />

        <app-icon-button
          v-if="hasFullscreen"
          icon-variant="black"
          variant="transparent"
          icon="arrows-fullscreen"
          icon-size="18"
          @click="$emit('fullscreen-click')"
        />

        <app-icon-button
          v-if="hasLive"
          icon-variant="black"
          variant="transparent"
          icon="camera-video"
          icon-size="24"
          @click="$emit('camera-click')"
        />

        <app-icon-button
          v-if="hasMic"
          icon-variant="black"
          variant="transparent"
          icon="mic"
          icon-size="24"
          @click="$emit('mic-click')"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";

import AppFaq from "./../../Faq";
import SoundSlider from "./SoundSlider";
import Pelengak from "./Pelengak/";

import {
  FULL_SCREEN_ACTION_KEY,
  SOUND_ACTION_KEY,
  MIC_ACTION_KEY,
  LIVE_ACTION_KEY
} from "./helpers";

export default {
  name: "ActionBar",
  components: {
    SoundSlider,
    AppFaq,
    Pelengak
  },
  props: {
    actions: { type: Array, required: true },
    qualities: { type: Array, required: true },
    selectedQuality: { type: String, required: true },
    hasFaq: { type: Boolean, required: true }
  },

  computed: {
    ...mapState({
      session: state => state.session
    }),

    hasSound() {
      return this.actions.includes(SOUND_ACTION_KEY);
    },
    hasFullscreen() {
      return this.actions.includes(FULL_SCREEN_ACTION_KEY);
    },
    hasMic() {
      return this.actions.includes(MIC_ACTION_KEY);
    },
    hasLive() {
      return this.actions.includes(LIVE_ACTION_KEY);
    },
    hasQualities() {
      return this.qualities.length > 0;
    },
    qualityItems() {
      return this.qualities.map(item => ({
        text: item === "auto" ? "خودکار" : item,
        value: item
      }));
    },
    parsedQuality() {
      return this.selectedQuality === "auto" ? "خودکار" : this.selectedQuality;
    }
  },
  methods: {
    onVolumeChange(newVal) {
      this.$emit("volume-change", newVal);
    },
    onQualitySelect(quality) {
      this.$emit("quality-select", quality.value);
    }
  }
};

// Export all action keys from index file to be able to import them using directory path.
export * from "./helpers";
</script>
