.cursor-pointer {
  cursor: pointer;
}

.logo {
  /* max-width: 100%; height: auto; */
  width: 18px;
  height: 18px;
  margin: 2px 0 0 7.5px;
}

#__nuxt {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#__layout {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  overflow-x: hidden;

  .main-navbar {
    z-index: -1;
  }

  #app {
    height: inherit;

    .content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

body {
  direction: rtl;
  position: relative;
  text-align: right;
}

.audio-container {
  width: max-content;
  height: max-content;
  border: solid 4px rgba(68, 68, 68, 0.06);
  border-radius: 50%;
  padding: 1rem;

  .audio {
    opacity: 1;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    position: relative;
    box-shadow: 1px 1.5px 49.5px 0 rgba(110, 110, 110, 0.38);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.chat-wrapper {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-right: 4px;
  height: 80vh;
  display: flex;

  .messages-wrapper {
    margin-top: 15px;
    padding: 15px;
    padding-top: 55px;
    flex: 1;
    overflow-y: auto;
    scrollbar-color: $orange-light $white;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $orange-light;
    }

    .b-avatar {
      background-color: $white;
    }
  }

  .message-box {
    margin: 15px;
    border-radius: 24px;
    padding: 6px 8px;
  }

  .emoji-bar-wrapper {
    align-items: center;
    top: -96px;
    left: 0;
  }
}

.reply-wrapper {
  border-radius: 20px;
  border-top-right-radius: 0;

  .close-button {
    top: -6px;
    left: -2px;
  }
}

.content-wrapper {
  flex: 1;
}

.people-container {
  scrollbar-color: $orange-light $white;
  scrollbar-width: thin;
  display: flex;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: $white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $orange-light;
  }

  .person-avatar {
    margin: 7px;
  }
}

.supporter {
  position: absolute;
  display: flex;
  align-items: center;

  .support-button {
    display: flex;
    align-items: center;
    border-radius: $rounded-pill $rounded-pill 0 $rounded-pill !important;
  }

  &.right-top {
    right: $spacer;
    top: $spacer;
  }

  &.right-bottom {
    bottom: $spacer;
    right: $spacer;
  }

  &.left-bottom {
    bottom: $spacer;
    left: $spacer;

    .support-button {
      border-radius: $rounded-pill $rounded-pill $rounded-pill 0 !important;
    }
  }

  &.left-top {
    left: $spacer;
    top: $spacer;

    .support-button {
      border-radius: $rounded-pill $rounded-pill $rounded-pill 0 !important;
    }
  }

  .supporter-container {
    display: none;
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    * {
      margin: $spacer * 0.25;
    }

    &.show {
      display: block;
      opacity: 1;
    }
  }
}

.list-items {
  .counter {
    width: $spacer;
    height: $spacer;
    border-radius: $rounded-pill;
    background-color: $gray-light;
    text-align: center;
    display: inline-block;
    margin-left: $spacer;
  }

  .edit {
    width: $spacer;
    height: $spacer;
    border-radius: $rounded-pill;
    background-color: $black;
    color: $primary;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.vpd-icon-btn {
  border-top-right-radius: $rounded-pill;
  border-bottom-right-radius: $rounded-pill;
}

.stream-content {
  width: 100%;
  height: 100%;
  border-radius: $border-radius-lg;
  overflow: hidden;

  .timer {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  .live-badge {
    position: absolute;
    top: 20px;
    left: 40px;
  }

  .faq-question {
    bottom: 15%;
    // margin-bottom: 20px;
  }

  .video-player {
    // border-top-left-radius: $border-radius-lg;
    // border-top-right-radius: $border-radius-lg;
    width: 100%;
    flex: 1;
  }

  .action-bar {
    .controllers {
      background-color: $gray-light;
    }
  }
}

.faq-wrapper {
  position: absolute;
  bottom: -21px;
  width: max-content;
  z-index: 99999;
  left: 50%;
  transform: translateX(-50%);

  .faq-container {
    position: relative;
    width: 400px;

    .faq-icon {
      position: absolute;
      top: -12px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.sidebar-close {
  background-color: $primary;
  border-radius: 21px 13px 13px 0;
  position: absolute;
  width: 59px;
  left: 0;
  border: none;

  svg {
    position: relative;
    right: -18px;
    bottom: -1px;
  }
}

.vs__dropdown-toggle {
  background: $white !important;
}

.vs__actions {
  padding: 5px 8px 0 13px !important;
}

.b-avatar-img {
  &:hover {
    img {
      transform: none !important;
    }
  }
}

.dark {
  font-weight: bold;

  .b-avatar-img {
    img {
      transition: all 250ms ease-in-out;
      filter: brightness(50%);
    }

    &:hover {
      img {
        transform: none !important;
        filter: brightness(100%);
      }
    }
  }
}

.error-page {
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;

  .error-code {
    font-size: 8rem;
    text-align: center;
  }
}

.message-content {
  word-wrap: anywhere;
}

.pin-content {
  a {
    color: $orange-light;
  }
}
