$font-folder: '~assets/fonts';

@font-face {
    font-family: "iransans light";
    src: url("#{$font-folder}/IRANSans(FaNum)_Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "iransans medium";
    src: url("#{$font-folder}/IRANSans(FaNum)_Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "iransans bold";
    src: url("#{$font-folder}/IRANSans(FaNum)_Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}