<template>
  <div
    class="wrapper bg-white d-flex flex-row flex-wrap p-2 shadow-sm justify-content-center"
  >
    <emoji-button
      v-for="(emoji, index) in emojies"
      :key="index"
      :emoji="emoji.emoji"
      :emoji-size="emoji.size"
      @click="onEmojiClick"
    />
  </div>
</template>
<script>
import EmojiButton from "./../Button/EmojiButton";
export default {
  name: "EmojiBar",
  components: {
    EmojiButton
  },
  data() {
    return {
      emojies: [
        { emoji: "👏", size: 20 },
        { emoji: "😲", size: 20 },
        { emoji: "😥", size: 20 },
        { emoji: "😍", size: 20 },
        { emoji: "😂", size: 20 },
        { emoji: "💯", size: 20 },
        { emoji: "🔥", size: 20 },
        { emoji: "🕺", size: 20 },
        { emoji: "💃", size: 20 }
      ]
    };
  },
  methods: {
    onEmojiClick(emoji) {
      this.$emit("emoji-select", emoji);
    }
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  border-radius: 50rem;
  max-width: 200px;
}
</style>
