<template>
  <div
    class="d-flex flex-column bg-secondary-light stream-content position-relative"
  >
    <video-player
      v-if="isVideo || isLive"
      ref="videoPlayer"
      :options="videoPlayerOptions"
      class="video-player"
      @canplaythrough="onMediaLoaded"
    />

    <div v-if="isAudio" class="h-100 d-flex flex-column justify-content-center">
      <audio-player
        ref="audioPlayer"
        :title="playerTitle"
        :src="audioSrc"
        class="audio-player"
        @audio-loaded="onMediaLoaded"
      />
    </div>

    <img v-if="isLive" src="live.svg" alt="live" class="live-badge" />
    <timer
      v-if="isVideo && timerReady"
      class="timer"
      :total-time="totalTime"
      :spend-time="spentTime"
    />

    <app-support
      v-if="pins.length"
      position="right-top"
      direction="y"
      :items="pins"
    >
    </app-support>

    <action-bar
      class="w-100 action-bar"
      :actions="actions"
      :qualities="qualities"
      :selected-quality="activeQuality"
      :has-faq="hasFaq"
      @volume-change="onVolumeChange"
      @fullscreen-click="onFullscreenClick"
      @quality-select="onQualitySelect"
    />
  </div>
</template>
<script>
import AppSupport from "./../Support";
import { mapState } from "vuex";

import VideoPlayer from "./VideoPlayer";
import AudioPlayer from "./Audio";
import Timer from "./Timer";

import ActionBar, {
  FULL_SCREEN_ACTION_KEY,
  SOUND_ACTION_KEY
} from "./ActionBar";

import { playerOptions } from "./helpers";

export default {
  name: "MediaPlayer",
  components: {
    VideoPlayer,
    ActionBar,
    AudioPlayer,
    AppSupport,
    Timer
  },

  data() {
    return {
      activeQuality: "",
      mediaStarted: false,
      liveUri:
        process.env.liveUri ||
        "https://live-hi.derak.cloud/derak.live/60029810a74b8a4ea8f1dfa7/master.m3u8",
      spentTime: 0,
      totalTime: 0,
      timerReady: false
    };
  },

  computed: {
    ...mapState({
      session: state => state.session,
      pins: state => state.pins
    }),

    sessionChannel() {
      return this.$ws && this.$ws.getChannel("session");
    },

    actions() {
      if (this.isAudio) return [SOUND_ACTION_KEY];
      return [FULL_SCREEN_ACTION_KEY, SOUND_ACTION_KEY];
    },

    videoPlayerOptions() {
      return playerOptions;
    },

    isLive() {
      if (this.session && this.session.type === "LIVE") return true;

      return false;
    },

    type() {
      if (this.session) return this.session.type;

      return null;
    },

    isVideo() {
      if (this.session && this.session.type === "VIDEO") return true;

      return false;
    },

    isAudio() {
      if (this.session && this.session.type === "AUDIO") return true;

      return false;
    },

    player() {
      if ((this.isVideo || this.isLive) && this.$refs.videoPlayer)
        return this.$refs.videoPlayer.player;
      if (this.isAudio && this.$refs.audioPlayer)
        return this.$refs.audioPlayer.player;
      return null;
    },

    isSessionInQa() {
      if (this.session && this.session.state === "QA") return true;
      return false;
    },

    audioSrc() {
      return this.session.media;
    },

    qualities() {
      const res = [];
      if (!this.session || this.isAudio || this.isSessionInQa || this.isLive)
        return res;
      for (const quality in this.session.media) {
        res.push(quality);
      }
      return res;
    },

    playerTitle() {
      if (this.session) {
        return this.session.title;
      }
      return "";
    },

    hasFaq() {
      if (!this.session || this.isAudio) return false;
      return this.session.has_faq;
    }
  },

  mounted() {
    this.initialize();
    this.initiateSessionSocket();
  },

  methods: {
    initialize() {
      this.mediaStarted = false;
      this.spentTime = 0;
      this.totalTime = 0;
      this.timerReady = false;
      if (this.isVideo || this.isLive) {
        this.activeQuality = "auto";
        this.playVideo();
      }
      if (this.isAudio) {
        this.playAudio();
      }
    },

    playAudio() {
      if (!this.$refs.audioPlayer) return;
      // console.log(this.player);
      this.$nextTick(() => {
        this.$refs.audioPlayer.player.play();
      });
    },

    playVideo() {
      if (!this.$refs.videoPlayer) return;
      // Get src of selected quality from sources prop
      const src =
        this.isSessionInQa || this.isLive
          ? this.liveUri
          : this.session.media[this.activeQuality];

      const video = {
        withCredentials: false,
        type: "application/x-mpegURL",
        src
      };

      this.$refs.videoPlayer.player.reset(); // in IE11 (mode IE10) direct usage of src() when <src> is already set, generated errors,
      this.$refs.videoPlayer.player.src(video);
      this.$refs.videoPlayer.player.load();
      this.$refs.videoPlayer.player.play();
      const volume = Number(window.localStorage.getItem("--player-volume--"));
      this.$refs.videoPlayer.player.volume(volume);
    },

    onMediaLoaded() {
      if (this.isSessionInQa || this.isLive) return;
      if (!this.mediaStarted) {
        // Convert spend time to seconds to use on video player
        const secondsToSeek = this.session.spend_time / 1000;
        if (this.isVideo) {
          this.$refs.videoPlayer.player.currentTime(secondsToSeek);
          this.$refs.videoPlayer.player.play();
          this.spentTime = secondsToSeek;
          this.totalTime = this.$refs.videoPlayer.player.duration();
          this.timerReady = true;
        }
        if (this.isAudio) {
          this.$refs.audioPlayer.player.currentTime = secondsToSeek;
          this.$refs.audioPlayer.player.play();
        }
        this.mediaStarted = true;
      }
    },

    onFullscreenClick() {
      this.$refs.videoPlayer.player.requestFullscreen();
    },

    onVolumeChange(vol) {
      // Player volume must be between 0 and 1. Passing value from change event is between 0 and 100 so we divide it.
      const volume = vol / 100;
      if (this.isVideo || this.isLive) {
        if (this.$refs.videoPlayer.player) {
          this.$refs.videoPlayer.player.volume(volume);
        }
      }
      if (this.isAudio) {
        if (this.$refs.audioPlayer.player) {
          this.$refs.audioPlayer.player.volume = volume;
        }
      }
      window.localStorage.setItem("--player-volume--", volume);
    },

    onQualitySelect(item) {
      this.sessionChannel.emit("quality", { id: this.session.id });
      this.activeQuality = item;
    },

    initiateSessionSocket() {
      this.sessionChannel.on("state", ({ data }) => {
        if (!data) return;
        this.$store.commit("setSession", data);
        if (data.id === this.session.id) {
          if (!this.isVideo) return;
          if (data.state === "QA") this.playVideo();
        }
      });

      this.sessionChannel.on("next", ({ data }) => {
        if (!data) return;
        this.$store.commit("setSession", data);
        this.$nextTick(() => {
          this.initialize();
        });
      });

      this.sessionChannel.on("activation", ({ data }) => {
        if (!data) return;
        this.$store.commit("setSession", data);
        this.$nextTick(() => {
          this.initialize();
        });
      });

      this.sessionChannel.on("spent", ({ data }) => {
        if (!data) return;
        this.$store.commit("setSession", data);
        this.$nextTick(() => {
          this.mediaStarted = false;
          this.playVideo();
        });
      });

      this.sessionChannel.on("deactive", () => {
        this.$store.commit("setSession", null);
      });
    }
  }
};
</script>
