<template>
  <div class="wrapper d-flex flex-row align-items-center">
    <div
      :class="[
        iconColor,
        'icon-wrapper d-flex align-items-center justify-content-center'
      ]"
    >
      <template v-if="!isExecutor">
        <BIconQuestion variant="light" />
      </template>
      <template v-else>
        <app-dropdown
          v-if="!isEditting"
          toggle-class="px-0"
          :items="menuItems"
          justify-menu="center"
          @item-click="onMenuClick"
        >
          <BIcon
            slot="activator"
            variant="white"
            size="20"
            icon="three-dots-vertical"
          ></BIcon>
        </app-dropdown>
      </template>
    </div>

    <div class="title-wrapper bg-white w-100">
      <p v-if="!isEditting" class="mb-0">{{ editableContent }}</p>
      <auto-resize-textarea
        v-else
        ref="autoResizeInput"
        v-model="editableContent"
        class="flex-fill"
        @enter-press="onEnterPress"
      />
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import AutoResizeTextarea from "./../../Input/AutoResizeTextArea";
export default {
  name: "Question",

  components: {
    AutoResizeTextarea
  },

  props: {
    content: { type: String, required: true },
    isSelected: { type: Boolean, default: false },
    isAnswered: { type: Boolean, default: false }
  },

  data() {
    return {
      isEditting: false,
      editableContent: this.content
    };
  },

  computed: {
    ...mapState({
      session: state => state.session
    }),
    isExecutor() {
      return this.$auth.loggedIn &&
        this.session &&
        (process.env.rootUsers.includes(this.$auth.user._id));
    },
    menuItems() {
      const menu = [
        { text: "ویرایش", action: "edit" },
        { text: "آرشیو", action: "archive" }
      ];
      if (this.isSelected) {
        menu.push({ text: "غیر برگزیده", action: "deselect" });
      } else {
        menu.push({ text: "برگزیده", action: "select" });
      }
      if (this.isAnswered) {
        menu.push({ text: "پاسخ داده نشده", action: "unanswer" });
      } else {
        menu.push({ text: "پاسخ داده شده", action: "answer" });
      }
      return menu;
    },
    iconColor() {
      if (!this.isExecutor) {
        if (this.isAnswered) return "bg-success";
        if (this.isSelected) return "bg-primary";
      } else {
        if (this.isAnswered) return "bg-success";
        if (this.isSelected) return "bg-warning";
      }
      return "bg-primary";
    }
  },

  methods: {
    onMenuClick(item) {
      switch (item.action) {
        case "edit":
          this.isEditting = true;
          break;
        case "archive":
          this.$emit("question-archive");
          break;
        case "select":
          this.$emit("question-select");
          break;
        case "deselect":
          this.$emit("question-deselect");
          break;
        case "answer":
          this.$emit("question-answer");
          break;
        case "unanswer":
          this.$emit("question-unanswer");
          break;

        default:
          break;
      }
    },
    onEnterPress() {
      this.$emit("question-edit", this.editableContent);
      this.isEditting = false;
    }
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  margin: 15px;

  .icon-wrapper {
    border-radius: 50rem;
    margin-left: 15px;

    svg {
      font-size: 26px;
    }
  }

  .title-wrapper {
    padding: 10px;
    border-radius: 10px;
  }
}
</style>
