<template>
  <div class="chat-wrapper flex-column align-items-between">
    <pin-message v-if="pinnedMessage" @delete-click="onDeletePinClick">
      <template #title>
        <small v-if="pinnedUser" class="mb-2">
          پین شده توسط {{ pinnedUser.name }}
        </small>
      </template>
      <p class="mb-0 pin-content message-content" v-html="parsedPinContent"></p>
    </pin-message>

    <div ref="messagesList" class="messages-wrapper" @scroll="scroll">
      <empty-state>
        <p class="mb-0 text-center">
          اینجا محل گفتگوهای شماست.
        </p>
      </empty-state>
      <infinite-loading v-if="loading" direction="top" />
      <div v-for="message in messages" :key="message._id">
        <message
          :message="message"
          @reply-click="onReplyClick"
          @pin-click="onPinClick"
        />
      </div>
    </div>

    <message-box
      ref="messageBox"
      class="message-box"
      :has-reply="isReplying"
      :show-scroll-btn="isChatScrolled"
      :show-emoji-btn="true"
      :reply="replyMessage"
      @message-send="onMessageSend"
      @scroll-click="scrollBottom(true)"
    >
      <template v-if="isReplying" #reply>
        <div class="reply-wrapper position-relative bg-white py-1 px-2 mb-1">
          <small tag="small" class="mb-0 text-primary-dark">
            {{ replyMessage.user.name }}
          </small>
          <p class="mb-0 message-content">
            {{ replyMessage.content }}
          </p>
          <app-icon-button
            class="close-button position-absolute"
            icon-variant="black"
            variant="transparent"
            icon="x"
            icon-size="20"
            @click="onRemoveReplyClick"
          />
        </div>
      </template>
    </message-box>
  </div>
</template>
<script>
import InfiniteLoading from "vue-infinite-loading";
import { mapState } from "vuex";
import _ from "lodash";

import PinMessage from "./Pin";
import EmptyState from "./EmptyState";
import Message from "./Message";
import MessageBox from "./MessageBox";

export default {
  name: "Chat",
  components: {
    EmptyState,
    Message,
    MessageBox,
    PinMessage,
    InfiniteLoading
  },

  data() {
    return {
      pin: {
        loading: false,
        data: null
      },
      loading: false,
      replyMessage: null
    };
  },

  computed: {
    ...mapState({
      messages: state => state.messages,
      pinnedMessage: state => state.pinnedMessage,
      pinnedUser: state => state.pinnedUser,
      allMessagesLoaded: state => state.isAllMessagesLoaded,
      isChatScrolled: state => state.isChatScrolled
    }),

    channel() {
      return this.$ws && this.$ws.getChannel("chat");
    },

    isReplying() {
      return this.replyMessage?.id;
    },

    firstMessage() {
      return this.messages.length > 0 ? this.messages[0] : {};
    },
    parsedPinContent() {
      if (!this.pinnedMessage.content) return "";
      return this.$options.filters.sanitizedDomified(
        this.pinnedMessage?.content
      );
    }
  },

  watch: {
    messages(newVal, oldVal) {
      setTimeout(() => {
        const forced = oldVal.length === 0;
        this.scrollBottom(forced);
      }, 100);
    },
    pinnedMessage() {
      setTimeout(() => {
        this.scrollBottom();
      }, 100);
    }
  },

  mounted() {
    // this.getPinnedMessage();
    setTimeout(() => {
      this.scrollBottom(true);
    }, 100);
  },

  methods: {
    async getPinnedMessage() {
      const { status, data } = await this.$axios.get("/chat/pin");
      if (status === 200) {
        this.$store.commit("setPinnedMessage", data);
      }
    },
    scroll: _.debounce(function() {
      if (!this.$refs.messagesList) return;
      const scrollDifference = Math.abs(
        this.$refs.messagesList.scrollHeight - this.$refs.messagesList.scrollTop
      );

      if (scrollDifference < 700) {
        this.$store.commit("setChatScrolled", false);
      } else {
        this.$store.commit("setChatScrolled", true);
      }

      const topOffset = Math.abs(this.$refs.messagesList.scrollTop);
      if (topOffset < 200) {
        this.fetchMore();
      }
    }, 150),
    isSelfMessage(message) {
      return message.userId === this.$auth.user._id;
    },
    async fetchMore() {
      if (this.loading || this.allMessagesLoaded) return;
      const payload = {
        messageId: this.firstMessage.id
      };
      this.loading = true;
      const { status, data } = await this.$axios.post("/chat/old", payload);
      this.loading = false;
      if (status === 200) {
        this.$store.commit("addOldMessages", data);
      }
    },
    getLatestId() {
      if (this.messages && this.messages.length > 0) {
        return this.messages[this.messages.length - 1]._id;
      } else {
        return null;
      }
    },

    onMessageSend(message) {
      this.channel.emit("message", {
        content: message.content,
        parent_id: this.replyMessage?.id
      });

      this.replyMessage = null;

      setTimeout(() => {
        this.scrollBottom(true);
      }, 100);
    },

    onReplyClick(message) {
      this.replyMessage = message;
      setTimeout(() => {
        this.$refs.messageBox.input.textArea.focus();
      }, 0);
    },
    onRemoveReplyClick(message) {
      this.replyMessage = null;
    },
    onPinClick(message) {
      const payload = { id: message.id, userId: this.$auth.user._id };
      this.channel.emit("pin", payload);
    },
    onDeletePinClick() {
      const payload = { id: null, userId: this.$auth.user._id };
      this.channel.emit("pin", payload);
    },
    scrollBottom(force = false) {
      if (!this.$refs.messagesList) return;
      const scrollDifference = Math.abs(
        this.$refs.messagesList.scrollHeight - this.$refs.messagesList.scrollTop
      );

      const offset = this.calcOffset();

      if (force || scrollDifference < offset) {
        this.$refs.messagesList.scrollTop =
          this.$refs.messagesList.scrollHeight + 900;
      }
    },
    calcOffset() {
      const screenHeight = window.screen.height;
      // Offset for higher resolutions screens like 4K must be more than 700px
      if (screenHeight >= 1080) return 1300;
      else return 900;
    }
  }
};
</script>
