<template>
  <div></div>
</template>

<script>
export default {
  auth: false,

  async asyncData({ $cookies, $axios, $auth, error, redirect, env }) {
    // try to loggin with cookie token
    try {
      if ($auth.loggedIn) return redirect({ name: "index" });

      // fetch the token
      const token = process.env.nodeEnv === 'development' ? process.env.developeToken : $cookies.get(env.hostCookieName);

      // check the third party cookie
      if (token === null || token === undefined)
        return error({ statusCode: 401 });
        
      await $auth.loginWith("local", { data: { token } });

      if ($auth.loggedIn) return redirect({ name: "index" });
    } catch (e) {
      if (e.response) return error({ statusCode: 401 });

      return error({ statusCode: 500 });
    }
  }
};
</script>
