<template>
  <div v-if="!showConf" class="pt-7 text-center">
    <h2 class="text-primary mb-0">خوش آمدید</h2>
    <h1 class="tex-primary"> پنجمین کنفرانس یواکس شیراز </h1>

    <BButton
      variant="primary"
      class="mt-6 text-center"
      size="lg"
      pill
      @click="openConf()">
      وارد شوید
      <BIconChevronLeft class="mr-3" />
    </BButton>

    <div
      v-if="$store.state.onlineUsers && $store.state.onlineUsers.length"
      class="mt-5 text-muted mb-5">
      <div class="mb-2">
        {{ $store.state.onlineUsers.length }} نفر آنلاین است
      </div>
      <div v-for="i in 20" :key="i" class="d-inline-block">
        <Avatar
          v-if="$store.state.onlineUsers[i - 1]"
          :src="$store.state.onlineUsers[i - 1].avatar.avatar"
          class="rounded-circle"
        />
      </div>
    </div>
  </div>

  <div v-else class="container-fluid flex-grow-1 d-flex flex-column my-4">
    <div class="row flex-grow-1">
      <div :class="[streamCols, 'col-12 order-md-2 stream-wrapper']">
        <div v-show="session" class="h-100">
          <MediaPlayer />
        </div>
        <div
          v-show="!session"
          :class="[
            { 'd-flex': !session },
            'flex-column align-items-center justify-content-center py-7 py-md-0'
          ]"
        >
          <h2 class="alert alert-warning mt-md-7">رویداد هنوز شروع نشده است</h2>
          <p class="text-primary mt-5 mb-0">لطفا منتظر نمانید!</p>
          <p>شبکه سازی و گفتگو را می‌توانید از همین حالا شروع کنید.</p>
        </div>
      </div>

      <div :class="[sidebarCols, 'col-12 pl-4 pl-md-2 mt-3 mt-md-0 order-md-1']">
        <div class="d-flex flex-row flex-nowrap">
          <AppSidebar
            :items="sideBarItems"
            @close="closeSidebar"
            @open="openSidebar"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  async asyncData(ctx) {
    const session = await ctx.$axios.get("/current-session");

    ctx.store.commit("setSession", session.data.data);
  },

  data() {
    return {
      open: true,
      items: [],
      sideBarItems: [
        {
          icon: "chat",
          activeIcon: "chat-fill",
          name: "chatTab",
          component: "app-chat"
        },
        {
          icon: "people",
          activeIcon: "people-fill",
          name: "peopleTab",
          component: "app-people"
        },
        {
          icon: "question-circle",
          activeIcon: "question-circle-fill",
          name: "qaTab",
          component: "app-q-a"
        }
      ]
    };
  },

  computed: {
    ...mapState({
      session: state => state.session,
      showConf: state => state.showConf
    }),

    chatChannel() {
      return this.$ws && this.$ws.getChannel("chat");
    },

    QaChannel() {
      return this.$ws && this.$ws.getChannel("question");
    },

    isExecutor() {
      return this.$auth.loggedIn &&
        this.session &&
        process.env.rootUsers.includes(this.$auth.user._id);
    },

    sidebarCols() {
      if (this.open) return "col-md-4 col-lg-3";
      else return "col-md-1 col-lg-1";
    },

    streamCols() {
      if (this.open) return "col-md-8 col-lg-9";
      else return "col-md-11 col-lg-11";
    }
  },

  watch: {
    session() {
      if (this.session) this.initiateQaSocket();
    }
  },

  mounted() {
    this.initiateChatSocket();
    if (this.session) this.initiateQaSocket();
  },

  methods: {
    ...mapMutations(["setShowConf"]),

    openConf() {
      if (this.$auth.loggedIn) this.setShowConf(true);
      else window.location.href = process.env.authUrl;
    },

    onSideBarItemClick() {
      this.open = true;
    },

    closeSidebar() {
      this.open = false;
    },

    openSidebar() {
      this.open = true;
    },

    initiateChatSocket() {
      this.chatChannel.emit("list", { user: this.$auth.user });

      this.chatChannel.on("list", ({ data, onlineUsers }) => {
        this.$store.commit("setOnlineUsers", onlineUsers);
        this.$store.commit("setMessages", data);
      });

      this.chatChannel.on("pin", data => {
        this.$store.commit("setPinnedMessage", data);
      });

      this.chatChannel.on("message", ({ data, onlineUsers }) => {
        this.$store.commit("setOnlineUsers", onlineUsers);
        this.$store.commit("addNewMessage", data);
      });
    },
    initiateQaSocket() {
      this.QaChannel.emit("list", { id: this.session.id });

      this.QaChannel.on("list", response => {
        this.$store.commit("questions/setQuestions", response.data);
      });

      this.QaChannel.on("message", response => {
        this.$store.commit("questions/addQuestion", response.data);
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.stream-wrapper {
  min-height: 300px;
}
</style>
