<template>
  <div class="bg-light p-3 rounded">
    <div class="mb-5">
      <h2>برنامه در حال پخش</h2>

      <div class="p-4 border">
        <Draggable :value="active" :group="{ name: 'show', put: true }" @change="activate">
          <p v-if="!active.length" class="d-flex flex-column align-items-center justify-content-center">
              <span class="h1">
                <BIconPlay />
              </span>

              <span class="text-muted small">برنامه‌ای در حال پخش نمی‌باشد</span>
          </p>
          <div v-else>
            <div v-for="(item, i) in active" :key="`active-item-${i}`" class="item row no-gutter py-3 mb-2 bg-white">
              <div v-if="typeof item === 'object'">
                <div class="col-1 align-self-center">
                  <span class="badge badge-primary">{{ ++i }}</span>
                </div>

                <div class="col-3">
                  <img v-if="item.item.type === 'AUDIO'" src="no-image.png" alt="" class="playlist-thumb">
                  <img v-else :src="item.item.thumb" alt="" class="playlist-thumb">
                </div>

                <div class="col-6">
                  {{ item.item.title }}
                </div>

                <div class="col-2 align-self-end">
                  <button class="btn btn-primary">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </div>
              </div>
              <div v-else>
                <h1>در حال پخش برنامه زنده</h1>
              </div>
            </div>
          </div>
        </Draggable>
      </div>
    </div>

    <div class="mb-5">
      <h2>برنامه‌های بعدی</h2>

      <Draggable v-if="playlist.length" :value="playlist" :group="{ name: 'playlist', put: true }" class="container" @change="changed">
        <div v-for="(item, i) in playlist" :key="`playlist-item-${i}`" class="item row no-gutter py-3 mb-2 bg-white">
          <div class="col-1 align-self-center">
            <span class="badge badge-primary">{{ ++i }}</span>
          </div>

          <div class="col-3">
            <img v-if="item.item.type === 'AUDIO'" src="no-image.png" alt="" class="playlist-thumb">
            <img v-else :src="item.item.thumb" alt="" class="playlist-thumb">
          </div>

          <div class="col-6">
            {{ item.item.title }}
          </div>

          <div class="col-2 align-self-end">
            <button class="btn btn-primary">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </Draggable>

      <Draggable v-show="!playlist.length" :value="playlist" class="border p-4 mb-5" :group="{ name: 'items', put: true }" @change="changed">
          <p class="d-flex flex-column justify-content-center align-items-center">
            <span class="h1">
              <BIconPlay />
            </span>

            <small class="text-muted small">اولین برنامه رو بنداز همینجا</small>
          </p>
      </Draggable>
    </div>
  </div>
</template>

<script>
import { findIndex } from 'lodash'
import Draggable from 'vuedraggable'

export default {
  components: {
    Draggable
  },

  layout: "admin",

  // middleware: ['admin'],

  async asyncData({ $axios, $socket }) {
    try {
      const response = await $axios.$get('/playlists')

      return {
        playlist: response,
      }
    } catch(e) {
      return {
        playlist: []
      }
    }
  },

  data() {
    return {
      active: []
    }
  },

  mounted() {
    this.$socket.emit('plan:active')
    this.$socket.on('plan:active', response => {
      this.active = response
    })

    this.$socket.on('plan:add', response => {
      this.active = response
    })

    this.$socket.on('playlist:add', response => {
      this.playlist.push(response)
    })

    this.$socket.on('playlist:destroy', response => {
      const i = findIndex(this.playlist, { _id: response })

      if (i >= 0)
        this.playlist.splice(i, 1)
    })

    this.$socket.on('playlist:moved', response => {
      // move item
    })
  },

  methods: {
    async added(item) {
      try {
        await this.$axios.$post('/playlists', item)
      } catch (e) {

      }
    },

    async moved(item) {
      try {
        await this.$axios.$patch('/playlists', item)
      } catch(e) {

      }
    },

    async changed(item) {
      if (item.added) {
        await this.added(item.added)
      }

      if (item.moved) {
        await this.moved(item.moved)
      }
    },

    activate(item) {
      if (item.added)
        this.$socket.emit('plan:add', item.added.element)
    },
  }
};
</script>


<style lang="scss" scoped>
.playlist-thumb {
  width: 100%;
  height: auto;
  object-fit: contain;
}
</style>