<template>
  <div v-if="status !== null">
    <b-button
      v-if="status === 'success'"
      variant="primary"
      class="d-flex align-items-center"
      pill
      @click="status = null"
    >
      <BIconCheckCircleFill
        font-scale="1.75"
        class="ml-2"
        variant="light"
      />
      سوالت به دستمون رسید.
    </b-button>
    <b-button
      v-else
      variant="primary"
      class="d-flex align-items-center"
      pill
      @click="status = null"
    >
      <BIconXCircleFill font-scale="1.75" class="ml-2" variant="light" />
      ای بابا مشکلی پیش اومده :-(
    </b-button>
  </div>
  <div v-else class="position-relative">
    <div class="faq-wrapper">
      <b-button
        v-if="!open"
        variant="primary"
        class="d-flex align-items-center"
        pill
        @click="open = true"
      >
        <BIconQuestionCircleFill
          font-scale="1.75"
          class="ml-2"
          variant="light"
        />
        از سخنران سوال دارید؟
      </b-button>
      <div v-else class="faq-container bg-primary p-4 rounded">
        <BIconX
          variant="primary"
          font-scale="2"
          class="faq-icon bg-white rounded-pill border-0 cursor-pointer"
          @click="open = false"
        />
        <p class="text-center mb-4 text-white">
          سوال خود را از سخنران بپرسید
        </p>

        <messageBox
          class="rounded"
          variant="white"
          :has-reply="true"
          @message-send="sendMessage"
        ></messageBox>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import MessageBox from "./../Chat/MessageBox";

export default {
  components: {
    MessageBox
  },

  data() {
    return {
      open: false,
      status: null
    };
  },

  computed: {
    ...mapState({
      session: state => state.session
    }),

    channel() {
      return this.$ws && this.$ws.getChannel("question");
    },

    sessionId() {
      if (this.session) return this.session.id;

      return null;
    }
  },

  mounted() {
    this.channel.on("message", ({ data }) => {
      if (data.userId !== this.$auth.user._id) return;
      this.status = "success";
      this.open = false;

      setTimeout(() => {
        this.status = null;
      }, 2000);
    });
  },

  methods: {
    sendMessage(data) {
      this.channel.emit("message", {
        content: data.content,
        session_id: this.sessionId
      });
    }
  }
};
</script>
