<template>
  <div class="container-fluid bg-dark shadow">
    <BNavbar variant="dark" type="light">
      <!-- start logo -->
      <BNavbarBrand href="/">
        <logo logo-color="primary" type-color="white" size="8rem" />
      </BNavbarBrand>
      <!-- end logo -->

      <!-- start admin dropdown -->
      <BDropdown
        v-if="$auth.loggedIn && isExecutor"
        variant="primary"
        text="اتمام نشست"
        no-caret
        toggle-class="px-5 mr-5"
        menu-class="text-center">
        <BDropdownItem @click="nextSession">همین حالا</BDropdownItem>
        <BDropdownItem>تعیین زمان مشخص</BDropdownItem>
        <BDropdownItem v-if="hasFaq" @click="setNextState">
          رفتن به پرسش و پاسخ
        </BDropdownItem>
      </BDropdown>
      <!-- end admin dropdown -->

      <!-- start user dropdown -->
      <BDropdown
        v-if="$auth.loggedIn"
        variant="transparent"
        toggle-class="d-flex justify-content-center align-items-center"
        class="mr-auto"
        no-caret
      >
        <template #button-content>
          <Avatar :text="$auth.user.name" size="sm" :src="userAvatar" />

          <span class="mx-2 text-white">{{ $auth.user.name }}</span>

          <BIconChevronDown />
        </template>

        <BItemDropdown
          v-if="$auth.user.id"
          link-class="d-flex align-items-center justify-content-start"
          :href="$auth.user.profile"
          target="_blank">
          <BIconPerson variant="primary" class="ml-3" />
          پروفایل
        </BItemDropdown>

        <BDropdownItem
          v-if="$auth.user.is_admin"
          link-class="d-flex align-items-center justify-content-start"
          :to="{ name: 'sessions' }">
          <BIconGrid variant="primary" class="ml-3" />
          پنل ادمین
        </BDropdownItem>

        <BDropdownItem
          link-class="d-flex align-items-center justify-content-start"
          @click="logout">
          <BIconDoorOpen variant="primary" class="ml-3" />
          خروج
        </BDropdownItem>
      </BDropdown>
      <!-- end user dropdown -->
    </BNavbar>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import Logo from '@/components/Logo';

export default {
  components: {
    Logo
  },

  computed: {
    ...mapState({
      session: state => state.session
    }),

    hasFaq() {
      if (this.session && this.session.has_faq) return true;
      return false;
    },

    userAvatar() {
      return this.$auth.user?.avatar?.avatar;
    },

    channel() {
      return this.$ws && this.$ws.getChannel("session");
    },

    isExecutor() {
      return this.$auth.loggedIn &&
        this.session &&
        process.env.rootUsers.includes(this.$auth.user._id);
    }
  },

  methods: {
    ...mapMutations(["setShowConf"]),

    nextSession() {
      this.channel.emit("next");
    },

    setNextState() {
      this.channel.emit("state", {
        id: this.session.id,
        state: "QA"
      });
    },

    async logout() {
      await this.$auth.logout();
      this.setShowConf(false);

      this.$router.push("/");
    }
  }
};
</script>
