<template>
  <div class="sidebar flex-fill">
    <close-button @click="$emit('close-click')" />
    <p class="title">{{ title }}</p>
    <div class="content-wrapper">
      <slot />
    </div>
  </div>
</template>

<script>
import CloseButton from './../../Button/CloseButton'

export default {
  components: {
    CloseButton
  },

  props: {
    title: { type: String }
  }
};
</script>

<style lang="scss" scoped>
.sidebar {
  background-color: #f2f2f2;
  border-radius: 20px;
  right: 0;
  transition: all 3000ms ease-in-out;

  .content-wrapper {
    height: 80vh;
    overflow-y: auto;
  }

  .title {
    margin: 0 16px;
  }

  &.show {
    width: max-content;
    display: flex;
    flex-direction: column;
    right: 75px;
  }
}
</style>
