<template>
  <b-button
    v-bind="$attrs"
    :variant="variant"
    :class="{ rounded }"
    @click="onClick"
  >
    <img :src="image" :style="imageStyle" />
  </b-button>
</template>
<script>
import { BButton } from "bootstrap-vue";

export default {
  name: "ImageButton",
  components: {
    BButton
  },
  props: {
    variant: {
      type: String,
      default: "link"
    },
    image: {
      type: String,
      required: true
    },
    imageSize: {
      type: String,
      default: "32"
    },
    rounded: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    imageStyle() {
      return {
        width: `${this.imageSize}px`
      };
    }
  },
  methods: {
    onClick() {
      this.$emit("click");
    }
  }
};
</script>
<style lang="scss" scoped>
.rounded {
  border-radius: 50rem;
  padding: 2px;
}
</style>
