<template>
  <b-dropdown
    dir="ltr"
    v-bind="$attrs"
    toggle-tag="div"
    :class="{ flat }"
    :menu-class="menuClass"
    no-caret
    variant="text"
    @shown="$emit('menu-shown')"
    @hidden="$emit('menu-hidden')"
  >
    <template #button-content>
      <slot name="activator" />
    </template>
    <template v-for="(item, idx) in items">
      <b-dropdown-item
        v-bind="$attrs"
        :key="idx"
        :link-class="linkClass"
        @click.prevent="onMenuItemClick(item)"
      >
        <div
          class="d-flex font-weight-lighter"
          :class="[menuAlign, menuItemClass]"
          dir="rtl"
        >
          <BIcon
            v-if="item.icon"
            class="ml-2"
            :variant="iconVariant"
            :icon="item.icon"
          />
          {{ item.text }}
        </div>
      </b-dropdown-item>
      <b-dropdown-divider
        v-if="hasDivider && idx !== items.length - 1"
        :key="item.text"
        class="mx-3"
      />
    </template>
  </b-dropdown>
</template>
<script>
import { BDropdown, BDropdownItem, BDropdownDivider } from "bootstrap-vue";
export default {
  components: {
    BDropdown,
    BDropdownItem,
    BDropdownDivider
  },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    flat: {
      type: Boolean,
      default: false
    },
    theme: {
      type: String,
      default: "light"
    },
    justifyMenu: {
      type: String,
      default: "start"
    },
    hasDivider: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    menuAlign() {
      switch (this.justifyMenu) {
        case "start":
          return "justify-content-start";
        case "end":
          return "justify-content-end";
        case "center":
          return "justify-content-center";
        default:
          return "justify-content-start";
      }
    },
    isDark() {
      return this.theme === "dark";
    },
    menuClass() {
      return { "dark-menu": this.isDark };
    },
    linkClass() {
      return { "dark-link": this.isDark };
    },
    menuItemClass() {
      return { "text-white": this.isDark };
    },
    iconVariant() {
      return this.isDark ? "white" : "primary";
    }
  },
  methods: {
    onMenuItemClick(item) {
      if (item.to) {
        this.$router.push(item.to);
        return;
      }
      this.$emit("item-click", item);
    }
  }
};
</script>
<style lang="css" scoped>
.b-dropdown >>> .dropdown-menu {
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 10px;
  min-width: unset;
}

.b-dropdown.flat >>> .dropdown-menu {
  box-shadow: none;
}
</style>
<style lang="scss">
.dropdown-item {
  &.dark-link {
    &:hover,
    &:focus {
      background-color: rgba($color: #fff, $alpha: 0.1);
    }
  }
}

.dropdown-menu {
  &.dark-menu {
    background-color: rgba($color: #000000, $alpha: 0.89);
  }
}
</style>
