<template>
  <div>
    <div
      class="relative-wrapper position-relative bg-dark mx-2"
      @click="doPelengak"
    >
      <div class="pelengak-wrapper position-absolute">
        <lottie
          :options="pelengakOptions"
          :height="124"
          :width="124"
          @animCreated="handlePelengakAnimation"
        />
      </div>
    </div>
    <div class="effect-wrapper position-absolute">
      <lottie
        :options="effectOptions"
        :height="124"
        :width="124"
        @animCreated="handleEffectAnimation"
      />
    </div>
  </div>
</template>
<script>
import Lottie from "vue-lottie";
import * as pelengakData from "./pelengak/Beshkan";
import * as effectData from "./effect/effect";

export default {
  name: "Pelengak",
  components: {
    Lottie
  },
  data() {
    return {
      pelengakOptions: {
        animationData: pelengakData.default,
        loop: false,
        autoplay: false
      },
      effectOptions: {
        animationData: effectData.default,
        loop: false,
        autoplay: false
      },
      animationSpeed: 1,
      pelengakAnim: null,
      effectAnim: null,
      playing: false
    };
  },
  methods: {
    handlePelengakAnimation(anim) {
      this.pelengakAnim = anim;
    },
    handleEffectAnimation(anim) {
      this.effectAnim = anim;
    },
    doPelengak() {
      if (this.playing) return;
      this.playing = true;
      this.pelengakAnim.play();
      this.effectAnim.play();
      setTimeout(() => {
        this.pelengakAnim.stop();
        this.effectAnim.stop();
        this.playing = false;
      }, 2000);
    }
  }
};
</script>
<style lang="scss" scoped>
.relative-wrapper {
  width: 46px;
  height: 46px;
  border-radius: 50rem;
  overflow: hidden;
  cursor: pointer;

  .pelengak-wrapper {
    width: 46px;
    height: 46px;
    top: -105%;
    right: -93%;
  }
}
.effect-wrapper {
  bottom: 6%;
  right: -2.5%;
}
</style>
