<template>
  <div class="content">
    <AppNavbar></AppNavbar>

    <div class="container-fluid h-100 mt-5">
      <div class="row h-100">
        <div class="col-3 d-flex">
          <BNav vertical class="pr-0">
            <BNavItem @click="setTab('ITEM')">
              <i class="fas fa-plus fa-2x"></i>
            </BNavItem>

            <BNavItem @click="setTab('QA')">
              <i class="fas fa-inbox fa-2x"></i>
            </BNavItem>

            <BNavItem @click="setTab('PIN')">
              <i class="fas fa-thumbtack fa-2x"></i>
            </BNavItem>
          </BNav>

          <ItemList v-if="activeTab === 'ITEM'" class="flex-grow-1" />

          <PinList v-if="activeTab === 'PIN'" class="flex-grow-1" />
        </div>

        <div class="col-6">
          <Nuxt />
        </div>

        <div class="col-3">
          <div class="mb-3 py-4">
            <AdminPlayer />
          </div>

          <!-- <Chat /> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import AppNavbar from '@/components/Navbar';
import ItemList from '@/components/ItemList.vue'
import PinList from '@/components/PinList.vue'
import AdminPlayer from '@/components/AdminPlayer.vue'
// import Chat from '@/components/Chat'

export default { 
  components: {
    AppNavbar,
    AdminPlayer,
    // Chat,
    ItemList,
    PinList
  },

  computed: {
    ...mapState({
      activeTab: state => state.activeTab,
    })
  },

  methods: {
    ...mapMutations({
      setTab: 'SET_TAB'
    })
  }
};
</script>
