<template>
  <div class="flex-grow-1 d-flex flex-column">
    <AppNavbar />

    <Nuxt class="flex-grow-1" />

    <div></div>
  </div>
</template>

<script>
import AppNavbar from '@/components/Navbar';

export default {
  components: {
    AppNavbar
  }
};
</script>
