<template>
  <div class="audio-container position-relative mx-auto">
    <div :class="['audio', `bg-${variant}`]">
      <h2 :tag="titleTag" :variant="titleVariant">
        موضوع: {{ title }}
      </h2>

      <av-circle
        outline-color="#f05730"
        :outline-width="0"
        :outline-meter-space="25"
        :line-space="5"
        bar-color="#f05730"
        :bar-width="5"
        progress-color="#f05730"
        :progress-width="3"
        :canv-width="632"
        :canv-height="632"
        ref-link="player"
        class="position-absolute audio-visualizer"
        cors-anonym
      ></av-circle>

      <h4 v-if="time" :tag="timerTag" :variant="timerVariant">
        {{ time }}
      </h4>
      <audio
        ref="player"
        class="d-none"
        :src="src"
        @canplaythrough="$emit('audio-loaded')"
      ></audio>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    variant: {
      type: String,
      default: "white",
      required: false
    },
    titleVariant: {
      type: String,
      default: "primary",
      required: false
    },
    timerVariant: {
      type: String,
      default: "primary",
      required: false
    },
    title: {
      type: String,
      required: true
    },
    time: {
      type: Number,
      required: false
    },
    src: {
      type: String,
      required: true
    }
  },
  mounted() {
    this.player = this.$refs.player;
  }
};
</script>
<style scoped>
.audio-visualizer {
  top: -116px;
}
</style>
