<template>
  <div>
    <div class="d-flex align-items-center justify-content-between mb-2">
      <button class="btn btn-primary btn-sm" @click="$socket.emit('plan:add', 'LIVE')">
        <BIconWifi />
      </button>

      <button class="btn btn-primary btn-sm">
        <BIconSkipForwardFill />
      </button>

      <button class="btn btn-primary btn-sm" @click="$socket.emit('plan:refresh')">
        <BIconArrowRepeat />
      </button>
    </div>

    <div v-if="plan === 'LIVE'">پخش زنده</div>
    <video v-if="showPlayer">
      <source :src="plan.item.media" type="video/mp4" :poster="plan.item.thumb" />
    </video>
  </div>
</template>

<script>
export default {
  data() {
    return {
      plan: null,
    }
  },

  mounted() {
    this.$socket.emit('plan:active')

    this.$socket.on('plan:refresh', (response) => {
      this.plan = response[0]
    })

    this.$socket.on('plan:active', (response) => {
      this.plan = response[0]
    })

    this.$socket.on('plan:add', (response) => {
      this.plan = response[0]
    })
  },

  computed: {
    showPlayer() {
      return typeof this.plan === 'object' && this.plan !== null
    }
  }
}
</script>

<style scoped>
video {
  width: 100%;
  height: auto;
}
</style>