<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="2758.836"
    height="390.222"
    viewBox="0 0 2758.836 390.222"
    class="position-absolute"
  >
    <defs>
      <filter
        id="Path_Header_-3"
        x="0"
        y="0"
        width="2758.836"
        height="390.222"
        filterUnits="userSpaceOnUse"
      >
        <feOffset dy="3" input="SourceAlpha" />
        <feGaussianBlur stdDeviation="49.5" result="blur" />
        <feFlood flood-color="#fff" flood-opacity="0.341" />
        <feComposite operator="in" in2="blur" />
        <feComposite in="SourceGraphic" />
      </filter>
    </defs>
    <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_Header_-3)">
      <path
        id="Path_Header_-3-2"
        data-name="Path Header -3"
        d="M2534.887-47.851c-.159,17.093-.261.024,0,9.831S2335.1-22.991,1932.7-30.409C1043.243-67.8,73.205-43.228,73.205-43.228v-73.151H94.437s945.862-1.664,1077.4-3.317,740.927,1.988,879.051,1.917,484-1.917,484-1.917S2535.233-84.928,2534.887-47.851Z"
        transform="translate(75.29 265.63)"
        fill="#fff"
      />
    </g>
  </svg>
</template>