<template>
  <BModal id="createItem" title="برنامه جدید" ok-title="ذخیره" ok-only @ok="submit">
    <form>
      <div class="form-group">
        <label for="">عنوان برنامه</label>
        <input v-model="form.title" type="text" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="">سخنران</label>
        <input v-model="form.name" type="text" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="">نوع برنامه</label>
        <select class="custom-select" v-model="form.type" required>
          <option value="">انتخاب کنید</option>
          <option value="LIVE">برنامه زنده</option>
          <option value="VIDEO">پخش ویدئو</option>
          <option value="AUDIO">پخش صدا</option>
        </select>
      </div>

      <div v-show="form.type === 'VIDEO' || form.type === 'AUDIO'" class="form-group">
        <label for="">مسیر فایل</label>
        <input v-model="form.url" type="text" class="form-control" />
      </div>

      <div v-show="error" class="alert alert-warning">
      شیطون یه چیزی یادت رفته ظاهرا، فرم رو دقیق پر کن.
      </div>
    </form>
  </BModal>  
</template>

<script>

export default {
  data() {
    return {
      error: false,
      form: {
        title: '',
        name: '',
        type: '',
        url: ''
      }
    }
  },

  methods: {
    async submit(e) {
      this.error = false
      e.preventDefault()

      try {
        await this.$axios.post('/items', this.form)

        this.form = {
          title: '',
          name: '',
          type: '',
          url: ''
        }
  
        this.$bvModal.hide('createItem')
      } catch(e) {
        this.error = true
      }
    }
  }
}
</script>
