<template>
  <div>
    <button class="btn btn-primary w-100 mb-3" v-b-modal.item_modal_create>
      افزودن آیتم جدید
    </button>

    <select v-model="type" class="custom-select">
      <option :value="null">همه آیتم‌ها</option>
      <option value="VIDEO">پخش ویدیو</option>
      <option value="AUDIO">پخش صدا</option>
    </select>

    <Draggable tag="ul" class="pr-0 list-group list-group-flush" :list="list" :group="{ name: 'playlist', pull: 'clone', put: false }">
      <li v-for="(item, index) in list" :key="`item-${index}}`" class="list-group-item">{{ item.title }}</li>
    </Draggable>

    <BModal
      id="item_modal_create"
      title="ایجاد برنامه جدید"
      ok-title="ذخیره"
      cancel-title="بیخیال"
      footer-class="flex-row-reverse justify-content-end"
      :ok-disabled="busy || !canStore"
      @hidden="resetForm"
      @ok.prevent="store">
      <div class="form-group">
        <label for="">عنوان برنامه</label>
        <input
          v-model="item.title"
          type="text"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="">سخنران</label>
        <input v-model="item.name" class="form-control" />
      </div>

      <div class="form-group">
        <label class="ml-3">آیا پرسش و پاسخ دارد؟</label>
        <BFormCheckbox
          v-model="item.hasFaq"
          switch
          size="lg"
        ></BFormCheckbox>
      </div>

      <div>
        <div class="form-group">
          <label for="">نوع نشست</label>
          <BFormRadioGroup
            v-model="item.type"
            class="d-flex justify-content-between"
            name="radio-sub-component">
            <BFormRadio value="VIDEO">ویدیو ضبط شده</BFormRadio>
            <BFormRadio value="AUDIO">صدای ضبط شده</BFormRadio>
          </BFormRadioGroup>
        </div>
      </div>

      <div class="form-group">
        <label for="">آدرس فایل {{ item.type == "VIDEO" ? 'تصویری' : 'صوتی' }}  </label>
        <input v-model="item.thumb" type="text" class="form-control" />
      </div>

      <div class="form-group">
        <label for="">آدرس فایل {{ item.type === "VIDEO" ? 'تصویری' : 'صوتی' }}</label>
        <input v-model="item.media" type="text" class="form-control" />
      </div>
    </BModal>
  </div>
</template>

<script>
import { filter, findIndex } from 'lodash'
import Draggable from 'vuedraggable'

export default {
  components: {
    Draggable
  },

  data() {
    return  {
      busy: false,
      type: null,
      items: [],
      item: {
        title: '',
        name: '',
        type: 'VIDEO',
        hasFaq: false,
        media: '',
        thumb: ''
      }
    }
  },

  computed:  {
    list() {
      if (this.type === null)
        return this.items

      return filter(this.items, { type: this.type })
    },

    canStore() {
      return this.item.type.length && this.item.title.length && this.item.media.length
    }
  },

  async created() {
    try {
      const response = await this.$axios.$get('/items');
      this.items = response
    } catch(e) {}
  },

  mounted() {
    this.$socket.on('items:store', (response) => {
      this.items.push(response)
    })

    this.$socket.on('items:destroy', ({ id }) => {
      const i = findIndex(this.items, { id })

      if (i >= 0)
        this.items.splice(i, 1)
    })
  },

  methods: {
    resetForm() {
      this.item = {
        title: '',
        name: '',
        type: '',
        hasFaq: false,
        media: '',
        thumb: ''
      }
    },

    async store() {
      await this.$axios.$post('/items', this.item)

      this.$bvModal.hide('item_modal_create')
    }
  }
}
</script>
    