<template>
  <svg :width="size" version="1.1" viewBox="0 0 991.16 229.76">
    <path
      fill="currentColor"
      :class="logoColor"
      d="m166.23 128.8-30.75 20.69 29.7 20a14.32 14.32 0 0 1 6.21 11.91v42l-5.92 5.93-65.44-44a20.18 20.18 0 0 1-8.89-16.72v-38.23a20.15 20.15 0 0 1 8.86-16.71l66-44.37 5.43 5.43v44.18a11.91 11.91 0 0 1-5.2 9.89zm-85.99 2.66v36.07a22.21 22.21 0 0 1-9.79 18.41l-65.12 43.82-5.33-5.33v-43a14.32 14.32 0 0 1 6.2-11.91l29.71-20-30.74-20.72a11.9 11.9 0 0 1-5.17-9.89v-44.17l5.44-5.44 65 43.76a22.18 22.18 0 0 1 9.8 18.4zm54.36-82.56a48.9 48.9 0 0 1-48.9 48.9 48.9 48.9 0 0 1-48.9-48.9 48.9 48.9 0 0 1 48.9-48.9 48.9 48.9 0 0 1 48.9 48.9z"
    />
    <path
      fill="currentColor"
      :class="typeColor"
      d="m909.86 117.91h81.3v9.37l-54.85 77.52h54.85v18.89h-82.66v-11.48l53.65-75.56h-52.29zm-39.44 85.84h-55.32l-9.1 19.94h-21.57l47.45-105.78h21.76l47.45 105.78h-21.76zm-27.66-63.63-19.65 45h39.3zm-55.62 83.57h-23.72l-30.83-35.36h-19.19v35.36h-19.95v-105.93c16.77 0 33.55 0.15 50.32 0.15 24.94 0.15 38.09 16.77 38.09 35.06 0 14.51-6.65 29.17-26.75 33.24l32 36.12zm-73.74-87.19v33.85h30.37c12.7 0 18.14-8.47 18.14-16.93s-5.59-16.92-18.14-16.92zm-58.64 87.19v-105.78h19.8v105.78zm-38.69 0.16v-42.77h-52v42.77h-19.93v-105.79h19.94v44.58h52v-44.58h19.8v105.79zm-106.7-80.4c-3.62-6-13.6-11.79-25.08-11.79-14.81 0-21.92 6.2-21.92 14.05 0 9.22 10.89 11.79 23.58 13.3 22.06 2.72 42.62 8.47 42.62 33.7 0 23.58-20.86 33.7-44.43 33.7-21.61 0-38.24-6.65-46.1-26l16.63-8.61c4.68 11.63 16.92 16.77 29.77 16.77 12.54 0 24.33-4.38 24.33-15.87 0-10-10.43-14.05-24.48-15.56-21.61-2.57-41.56-8.31-41.56-32 0-21.76 21.46-30.68 40.95-30.83 16.48 0 33.55 4.69 41.56 21zm-102.69-25.54h21.92v0.9l-35.82 51.39 36.87 52.89v0.6h-22.36l-27.05-39.69-27.05 39.74h-22.37v-0.6l36.72-52.89-35.66-51.39-10.34-0.75 32.25-0.15 26.45 39.44zm-67.68 0.15v60.6c0 31.28-19.19 47.3-45.79 47.3-25.39 0-47-15.41-47-47.3v-60.6h19.79v60.6c0 19 10.88 29.17 27.35 29.17s25.85-11 25.85-29.17v-60.6z"
    />
  </svg>
</template>

<script>
export default {
  props: {
    size: { type: String, default: "1em" },
    logoColor: String,
    typeColor: String
  }
};
</script>