<template>
  <BModal id="createPin" title="افزودن سنجاقک" ok-title="افزودن" ok-only @ok="submit">
    <form>
      <div class="from-group">
        <label for="">نام</label>
        <input v-model="form.title" type="text" class="form-control" required />
      </div>

      <div class="form-group mt-3">
        <label for="">آدرس لوگو</label>
        <input v-model="form.logo" type="text" class="form-control text-left"  required/>
      </div>

      <div class="form-group mt-3">
        <label for="">آدرس سایت</label>
        <input v-model="form.url" type="text" class="form-control text-left" />
      </div>

      <div v-show="error" class="alert alert-warning">
        تنبل، حاضر نیستی دو تا فیلد رو هم پر کنی
      </div>
    </form>
  </BModal>
</template>

<script>
export default {
  data() {
    return {
      error: false,
      form: {
        title: '',
        logo: '',
        url: ''
      }
    }
  },

  methods: {
    async submit(e) {
      this.error = false
      e.preventDefault()

      try {
        await this.$axios.$post('/pins', this.form)

        this.form = {
          title: '',
          logo: '',
          url: ''
        }

        this.$bvModal.hide('createPin')
      } catch(e) {
        this.error = true
      }
    }
  }
}
</script>