<template>
  <div>
    <ul class="list-group list-group-fluush pr-0">
      <li class="list-group-item" v-for="(pin, index) in pins" :key="`pin-${index}`">{{ pin.title }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pins: []
    }
  },

  async created() {
    try {
      const response = await this.$axios.$get('/pins')

      this.pins = response
    } catch(e) {}
  }
}
</script>