<template>
  <div
    class="sound-button position-relative d-inline-flex align-items-center justify-content-center"
  >
    <div v-show="sliderVisible" class="range-slider-wrapper position-absolute">
      <custom-slider
        v-model="slider"
        min="0"
        max="100"
        step="2"
        hide-label
        @change="onChange"
        @input="onChange"
      />
    </div>

    <app-icon-button
      icon-variant="black"
      variant="transparent"
      icon="volume-up"
      icon-size="24"
      @click="sliderVisible = !sliderVisible"
    />
  </div>
</template>
<script>
import CustomSlider from "vue-custom-range-slider";
export default {
  name: "SoundSlider",
  components: {
    CustomSlider
  },
  data() {
    return {
      slider: "50",
      sliderVisible: false
    };
  },
  mounted() {
    const volume = Number(window.localStorage.getItem("--player-volume--"));
    this.slider = String(volume * 100);
  },
  methods: {
    onChange(evt) {
      this.$emit("change", evt);
    }
  }
};
</script>
