<template>
  <div class="flex-row flex-wrap justify-content-start people-container px-2">
    <avatar
      v-for="person in onlineUsers"
      :key="person._id"
      expanded
      has-tooltip
      :text="person.name"
      :second-text="person.profession"
      size="48"
      :src="getAvatar(person)"
      theme="dark"
      :tooltip="person.name"
      :link="person.profile"
      class="person-avatar"
    />
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  name: "People",
  computed: {
    ...mapState({
      onlineUsers: state => state.onlineUsers
    })
  },
  methods: {
    getAvatar(person) {
      return person.avatar?.avatar;
    }
  }
};
</script>
