<template>
  <radial-progress-bar
    :diameter="48"
    :completed-steps="time"
    :total-steps="totalTime"
    start-color="#f05730"
    stop-color="#f05730"
    inner-stroke-color="#f2dfda"
    :stroke-width="3"
    :inner-stroke-width="3"
    class="bg-white timer"
  >
    <small tag="small">{{ readableTime }}</small>
  </radial-progress-bar>
</template>
<script>
import RadialProgressBar from "vue-radial-progress";

export default {
  name: "Timer",
  components: {
    RadialProgressBar
  },
  props: {
    totalTime: { type: Number, required: true },
    spendTime: { type: Number, required: true }
  },
  data() {
    return {
      time: this.spendTime,
      interval: null
    };
  },
  computed: {
    readableTime() {
      const hours = Math.floor(((this.time % 31536000) % 86400) / 3600);
      const minutes = Math.floor(
        (((this.time % 31536000) % 86400) % 3600) / 60
      );
      const seconds = Math.floor(
        (((this.time % 31536000) % 86400) % 3600) % 60
      );
      const readableSeconds = `${seconds < 10 ? `0${seconds}` : seconds}`;
      const readableMinutes = `${minutes < 10 ? `0${minutes}` : minutes}`;
      let res;
      if (hours > 0) {
        res = `${hours}:${readableMinutes}:${readableSeconds}`;
      } else {
        res = `${readableMinutes}:${readableSeconds}`;
      }

      return res;
    }
  },
  mounted() {
    this.startTimer();
  },
  beforeDestroy() {
    clearInterval(this.interval);
    this.interval = null;
  },
  methods: {
    startTimer() {
      if (this.interval) return;
      this.interval = setInterval(() => {
        this.time += 1;
      }, 1000);
    }
  }
};
</script>
<style lang="scss" scoped>
.timer {
  border-radius: 50rem;
}
</style>
