<template>
  <div
    :class="[
      'supporter d-flex',
      position,
      wrapperClass,
      'direction-' + direction
    ]"
  >
    <b-button
      size="sm"
      variant="primary"
      class="support-button"
      @click="open = !open"
    >
      <BIconChevronRight v-if="!rightArrow" class="ml-2" />
      {{ bottonTitle }}
      <BIconChevronLeft v-if="!leftArrow" class="mr-2" />
    </b-button>

    <div
      :class="[
        'supporter-container d-flex align-items-center justify-content-center',
        direction == 'y' ? 'flex-column' : 'flex-row',
        { show: open }
      ]"
    >
      <avatar 
        v-for="item in items" 
        :key="item.id"
        :text="item.title"
        :alt="item.title"
        :src="item.thumb_url"
        :href="item.link"
        size="3rem"
        variant="white"
        target="_blank">
      </avatar>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    bottonTitle: {
      type: String,
      required: false,
      default: "حمایت کنندگان"
    },

    position: {
      type: String,
      required: false,
      default: "right-top"
    },

    direction: {
      type: String,
      required: false,
      default: "y"
    }
  },

  data() {
    return {
      open: false
    };
  },

  computed: {
    items() {
      return [
        {
          title: "پارسکدرز",
          thumb_url: "parsecoders.png",
          link: "https://parscoders.com"
        },
        {
          title: "مورف",
          thumb_url: "morph.png",
          link: "https://morphdesign.io"
        }
      ]
    },

    wrapperClass() {
      return "flex-column";
      // let flexClass = this.direction === "y" ? "flex-column" : "flex-row";

      // if (
      //   ["right-bottom", "left-bottom"].includes(this.position) >= 0 &&
      //   flexClass === "flex-column"
      // )
      //   return (flexClass += "-reverse");

      // if (
      //   ["left-bottom", "left-top"].includes(this.position) >= 0 &&
      //   flexClass === "flex-row"
      // )
      //   return (flexClass += "-reverse");

      // return flexClass;
    },

    rightArrow() {
      if (["right-top", "right-bottom"].includes(this.position) >= 0)
        return true;

      return false;
    },

    leftArrow() {
      if (["left-top", "left-bottom"].includes(this.position) >= 0) return true;

      return false;
    }
  }
};
</script>
