<template>
  <div>
    <b-avatar
      :id="'app-tooltip-' + id"
      :title="tooltip"
      :class="theme"
      :text="customText | upperCase"
      v-bind="$attrs"
    />

    <b-tooltip v-if="hasTooltip" :target="'app-tooltip-' + id">
      <div v-if="!expanded" class="px-3 py-2">
        {{ text }}
      </div>
      <div v-else class="d-flex flex-column align-items-center px-3 py-2">
        <b-avatar :text="customText | upperCase" v-bind="$attrs"> </b-avatar>
        <div>{{ text }}</div>

        <div class="my-2 text-muted">{{ secondText }}</div>

        <a
          :href="link"
          target="_blank"
          class="text-primary text-decoration-none">
          پروفایل
        </a>
      </div>
    </b-tooltip>
  </div>
</template>

<script>
import { BAvatar } from "bootstrap-vue";

export default {
  components: {
    BAvatar
  },

  filters: {
    upperCase(text) {
      return text.toUpperCase();
    }
  },

  props: {
    expanded: {
      type: Boolean,
      default: false,
      required: false
    },
    hasTooltip: {
      type: Boolean,
      default: false,
      required: false
    },
    link: {
      type: String,
      default: "#",
      required: false
    },
    theme: {
      type: String,
      default: "light",
      required: false
    },
    tooltip: {
      type: [String, null],
      default: null,
      required: false
    },
    text: {
      type: [String, null],
      default: null,
      required: false
    },
    secondText: {
      type: [String, null],
      default: null,
      required: false
    },
    username: {
      type: [String, null]
    }
  },

  computed: {
    id() {
      return Math.random();
    },

    customText() {
      if (this.text === null) return "U";

      const arr = this.text.split(" ");

      if (this.text.length <= 2 || arr.length === 1)
        return this.text.substr(0, 2);

      if (arr.length >= 2) return arr[0].charAt(0) + " " + arr[1].charAt(0);
      else return arr[0].charAt(0);
    }
  }
};
</script>
